<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <meta charset="UTF-8">
    <meta name="description" content={{description}}>
    <script type="text/javascript">
        document.write("\<script src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js' type='text/javascript'>\<\/script>");
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
</body>
</html>
