{% extends "layout.html" %}

{% block content %}
<div class="header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
</div>
<div class="form">
    <form method="POST" action="/workout">'
        <div class="form-field">
            {{ form.date.label }}
            {{ form.date }}
        </div><br>
        <div class="form-field">
            {{ form.name.label }}
            {{ form.name }}
        </div><br>
        <div class="form-field">
            {{ form.sets.label }}
            {{ form.sets }}
        </div><br>
        <div class="form-field">
            {{ form.reps.label }}
            {{ form.reps }}
        </div><br>
        <div class="form-field">
            {{ form.weight.label }}
            {{ form.weight }}
        </div><br>
        <div class="form-field">
            {{ form.rest.label }}
            {{ form.rest }}
        </div><br>
        <div class="form-field">
            {{ form.notes.label }}
            {{ form.notes }}
        </div><br>
        <div class="form-field">
            {{ form.submit }}
        </div><br>
        <a href="#" id="submit_entry"><button class="btn btn-default">Submit Entry</button></a>
    </form>
</div>
<div class="table">
    <table>
        <tr>
            {% for col in data.columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for index, row in data.iterrows() %}
            <tr>
            {% for element in row %}
                <td>{{ element }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
