{% extends "base.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
</div>
<div class="form">
    <form method="POST" action="/workout">
        <h3>Enter New Exercise</h3>
        <div class="form-field">
            {{ form.date.label }}
            {{ form.date }}
        </div><br>
        <div class="form-field">
            {{ form.name.label }}
            {{ form.name }}
        </div><br>
        <div class="form-field">
            {{ form.sets.label }}
            {{ form.sets }}
        </div><br>
        <div class="form-field">
            {{ form.reps.label }}
            {{ form.reps }}
        </div><br>
        <div class="form-field">
            {{ form.weight.label }}
            {{ form.weight }}
        </div><br>
        <div class="form-field">
            {{ form.rest.label }}
            {{ form.rest }}
        </div><br>
        <div class="form-field">
            {{ form.notes.label }}
            {{ form.notes }}
        </div><br>
        <div class="form-field">
            {{ form.submit }}
        </div><br>
    </form><br>
</div>
<div class="jumbotron p-3">
    <div class="well text-center">
        <python
    </div>
</div>
<div class="container">
    <h2>Manage Workout Data <button type="button" class="btn btn-success">Manage</button></h2>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
                <th>options</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in rows %}
            <tr row_id="{{ row['index'] }}">
                {% for element in row %}
                <td><div class="row-data" edit_type="click" col_name="{{ columns[loop.index-1] }}" id="{{ row['index'] }}_{{ loop.index }}">{{ element }}</div></td>
                {% endfor %}
                <td><span class="btn-edit"><a href="#" class="btn btn-link" row_id="{{ row['index'] }}">Edit</a></span>
                <span class="btn-save"><a href="#" class="btn btn-link" row_id="{{ row['index'] }}">Save</a></span>
                <span class="btn-cancel"><a href="#" class="btn btn-link" row_id="{{ row['index'] }}">Cancel</a></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="static/js/workout.js"></script>
</div>
{% endblock %}
