<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Strength App</title>
    {% endblock %}
</head>
<body>
    <nav>
        <h1>Strength App</h1>
        <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
            <li><a href="{{ url_for('core.index') }}">Home</a></li>
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
            {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        <footer>Copyright 2020 - Smart Steel LLC</footer>
    </section>
</body>
</html>